/* 
* The contents of this file are subject to the terms of the Common Development and
* Distribution License (the License). You may not use this file except in compliance with the
* License.
*
* You can obtain a copy of the License at legal/CDDLv1.0.txt. See the License for the
* specific language governing permission and limitations under the License.
*
* When distributing Covered Software, include this CDDL Header Notice in each file and include
* the License file at legal/CDDLv1.0.txt. If applicable, add the following below the CDDL
* Header, with the fields enclosed by brackets [] replaced by your own identifying
* information: "Portions copyright [year] [name of copyright owner]".
*
* Copyright 2014 ForgeRock AS.
*/

/* 
* CSS used in conjunction with the utils.js 
* Part of the examples for the openam.js
*/

a       {color: #474749; text-decoration: underline; }
a.visited { color: #474749; text-decoration: none; }
a.active { color: #FFFFFF; text-decoration: none; }
a:hover { color: #0000FF;  text-decoration: none;
          background-color: #DDD;
          border: 1px none #FFFFFF;
}

a.link { color: #FFFFFF; text-decoration: underline;
}

hr {
    color: #ffffff;
}

.BoldLetters { font-family: Helvetica,Arial,Geneva,sans-serif;
               font-size: 9pt;
               line-height: 0.4cm;
               margin-left: 15px;
               font-weight: bold;
}

.NAPAStyle {
    margin:0; padding:0;
    font-family:Verdana, 'Bitstream Vera Sans', sans-serif; 
    font-size:0.75em; 
    color:#474749;
    background:#FFF url(../images/background.png) center repeat-y; 
}

.image-float-left { position: relative;
                    top: 10px;
                    left: 57px;
                    float: left;
}

.image-float-right { 
    position: relative;
    float: right;
}

#header {
    height: 120px;
    width: 975px;
    margin: 0 auto;
    background: black;
}

#franja { 
    /* background: #dddddd;  */
    background: #6fada0;
    height: 15px;
    text-align: right;
    font-size: 9pt;
    font-weight: normal;
    padding-right: 20px;
    width: 956px;
    margin: 0 auto;
}

#left {
    margin-left: 0px;
    left: 0px;

}

#franjita {
    /* background: #eeeeee;  */
    background: #6fada0;
    border-bottom:  1px solid rgb(150, 150, 150);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 16px;
}

#franjita2 { 
    background: #eeeeee;
    border-bottom:  1px solid rgb(150,150,150);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 16px;
}

#loginBox {
    position: relative;
    top: 10px;
    float: right;
    right: 50px;
    width: 420px;
    font-size: 9pt;
    line-height: 0.4cm;
    z-index: 1000; /* high z-index */
}

#welcomeAndLogout {
    position: relative;
    top: 10px;
    float: right;
    right: 50px;
    width: 420px;
    font-size: 9pt;
    line-height: 0.4cm;
    color: white;
}

#errorMessage {
    background: #dddddd;
    text-align: center;
    color: black;
    height: 12px;
}  

#login1 {
    font-family: Arial, Verdana, Geneva,sans-serif;
    font-size: 11pt;
    -moz-border-radius: 8px;  
    -webkit-border-radius: 8px; 
    border-radius: 8px;
    width: 620px;
    height: 260px;
    float: right;
    background: #dddddd;
    z-index: 1000; /* high z-index */
} 

.socialButton { 
    display: block; width: 80px !important; text-align: center !important;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    border: 1px solid darkgrey;
    background-color: #fafafa;
    padding-left: 25px; 
    padding-right: 25px; 
    padding-top: 3px;
    padding-bottom: 3px;
} 

.socialButton:hover {
    text-decoration: none;
    background-color: #aaa; 
}

.socialButton:active {
    margin-top: 1px;
}

.loginButton { 
    display: block; text-align: center;
    border: 1px solid white;
} 

.loginButton:hover {
    border: 1px solid darkgray;

}

#wdw-container {
    width: 980px;
    margin: 0 auto;
    height: 100%;
}

#html-data {
    width: 960px;
    margin: 10px;
    height: 100%;
}

#wdw1 {  
    border: 1px solid rgb(200, 200, 200);
    position: relative;
    float: left;
    top: 15px;
    left: 30px;;
    width: 360px;
    height: 160px;
    font-size: 10pt;
    line-height: 0.4cm;
    padding: 10px;
}

